<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encurtador</title>
</head>
<body>
    <h1>Hello World</h1>

    <form action="/" method="POST">
        <input class="field" name="title" placeholder="Title" type="text" required>
        <input class="field" name="description" placeholder="Description" type="text">
        <input class="field" name="url" placeholder="URL" type="text" required>
        <button>Salvar</button>
    </form>
</body>
</html>